:root {
    --primary-color: white;
    --primary-color-shopping-card: white; 
    --primary-border: 2px solid white;
    --primary-cards-bg: #030A12e5;
    --primary-cards-border-radius: 32px;
    --primary-cards-height: 650px;
    --primary-btn-bg-color: #223;
    --primary-btn-hover-color: #ac5240;
    --fz-primary: 'Roboto';
    --shopping-card-border: 2px solid #030911;
    --shopping-card-box-shadow: 3px 5px 11px -1px #04101B; 
    --accent-color: #864133;
}

* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Roboto';
    list-style: none;
    text-decoration: none;
}

body {
    background-image: url(./img/background.png);
    background-position: 50% 40%;
    background-attachment: fixed;
    background-size: cover;

}


@font-face {
    font-family: 'Roboto';
    src: url('./webfonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
  width: 20px;
 
}

::-webkit-scrollbar-track {
  background-color: #262626;

}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-btn-bg-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #353550;
}

nav {
    background-color: var(--primary-cards-bg);
    width: 100%;
    position: fixed;
    top: 0;
    height: 11.7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

nav img {
    height: 100px;
    padding: 16px;
}

nav ul {
    display: flex;
    gap: 24px;
}

nav ul li a {
    font-size: 24px;
    color: var(--primary-color);
}

.about-us-container  {
    background-color: var(--accent-color);
    border-radius: 20px;
    padding: 10px 16px;
    margin-right: 24px;
    color: var(--primary-color);
}


.burger-menu {
    display: none;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.droppdown {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    height: 0;
    right: 16px;
    top: 100px;
    width: 300px;
    background: #262626b5;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    overflow: hidden;
    transition: height 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.droppdown.open {
    height: 400px;
}

.droppdown li a {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    
}

.droppdown li a:hover {
    color: var(--primary-btn-hover-color);
 
}

.droppdown li:last-child {
    width: 100%;
    border-radius: 20px;
}
.droppdown li:last-child a {
    background-color: var(--accent-color);
    border-radius: 20px;
    padding: 10px 16px;
    margin-right: 0;
    margin: 0 8px 24px 8px;
}

.droppdown li:last-child a:hover {
    color: var(--primary-color);
    background-color: var(--primary-btn-hover-color);
}

.aot {
    position: absolute;
    top: 11.7vh;
    left: 0;
    right: 0;
    background-image: url(./img/landing_page.png);
    height: 74vh;
    object-fit: cover;
    background-size: auto 100%;
    background-position: 50% 15%;
}

.filter-container {
    position: absolute;
    top: 85.6vh;
    width: 100%;  
    background-color: var(--primary-cards-bg);
}  

.container {
   display: flex;
   justify-content: center;
}

.wrapper {
    width: clamp(320px, 100%, 1920px);
}

.grid {
    display: flex;
    justify-content: space-between;
}

.grid main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: 8px;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block: 64px;
    gap: 16px;
    
}

.card {
    width: 80px;
    padding-bottom: 8px;
    background-size: cover;
    background-position: 50% 100%;
    height: var(--primary-cards-height);
    border: var(--primary-border);
    border-radius: var(--primary-cards-border-radius);
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row  {
    height: 100%;
    color: white;
    display: flex;
}

.card > .row > .row-coloum {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.row-coloum h4 {
    height: 500px;
    writing-mode: vertical-lr; 
    text-orientation: upright;
    text-transform: uppercase;
    color: var(--primary-color);
}

.card > .row > .row-coloum > .icon {
    background: var(--accent-color);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 650px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
    cursor: default;
}

.description p {
    color: var(--primary-color);
    padding-top: 5px;
    text-wrap: balance;
    font-size: 20px;
}

.description p:last-child {
    color: var(--accent-color);
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    position: relative;
    padding-right: 24px;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.description img {
    height: 350px;
    width: 496px;
    object-fit: cover;
    object-position: 50% 55%;
    border-radius: 18px;
    margin-bottom: 24px;
}

.description-flexrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn {
    height: 100%;
    display: flex;
    align-items: end;
}

.add,
.add-amount {
    font-size: 24px;
    background: var(--accent-color);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer ;
    border: 0;
}

.add:hover,
.add-amount:hover,
.pay-btn-container button:hover {
    background-color: var(--primary-btn-hover-color);
}

.clicked {
    border: 2px solid #030911;
}

.add-amount {
    width: 40px;
    height: 40px;
}

.shopping-card-container {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 11.7vh;
    height: 81.5vh;
    margin: 64px 56px 0 16px ;
    width: clamp(350px, 25%, 500px);
    border: var(--primary-border);
    border-radius: 24px;
    overflow: hidden;
    background-color: #2f2f2fc9;
}


.shopping-card {
    position: flex;
    top: 0;
    width: 95%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 32px 8px;
    color: var(--primary-color-shopping-card);
    border: var(--shopping-card-border);
    box-shadow: var(--shopping-card-box-shadow);
    border-radius: 12px;
    overflow: auto;
}
.description::-webkit-scrollbar-track {
    background: transparent;
}

.shopping-card h1 {
    font-size: 40px;
    font-weight: 500;
    color: var(--accent-color);
}

.shopping-card-content {
    width: 100%;
    margin: 24px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.delivery-case-flex {
    display: flex;
    min-width: 265px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.delivery-case-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.shopping-card-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0309116c;
    align-items: center;
    padding: 8px 16px;
    border-radius: 50px;
    border: var(--shopping-card-border);
    box-shadow: var(--shopping-card-box-shadow);
}

.order-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

.order-style {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.order-name p {
    text-align: center;
}

.order-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pay-btn-container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 100%;
}

.pay-btn-container button {
    font-size: 24px;
    color: var(--primary-color-shopping-card);
    width: clamp(250px, 80%, 280px);
    height: 50px;
    border-radius: 20px;
    cursor: pointer;
    border: 0;
    background-color: var(--accent-color)
}

.shopping-card-info h2{
    font-weight: 300;
    text-align: center;
}

.shopping-card-info p {
    margin-top: 16px;
    text-align: center;
    text-wrap: balance;
}

.pay-info-mobile,
.pay-info-mobile-close {
    position: fixed;
    display: none;
    justify-content: center;
    width: 100%;
    z-index: 11;
    bottom: 0;
    padding-bottom: 24px;
    align-items: center;  
}

.pay-info-mobile-close {
    display: block;
}

.pay-info-mobile button,
.pay-info-mobile-close button {
    color: var(--primary-color);
    width: clamp(320px, 98%, 1004px);
    font-size: 24px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 32px;
    border: 0;
    display: flex;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

.pay-info-mobile-close button {
    width: clamp(320px, 99%, 1004px);
}

.pay-info-mobile button:hover,
.pay-info-mobile-close button:hover {
    background: var(--primary-btn-hover-color);
}

.pay-info-mobile span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 170px 20px 0;
    background-color: #262626;
    height: 20px;
    width: 20px;
    border-radius: 16px;
    font-size: 14px;
    color: var(--primary-color);
}

.pay-info-mobile button::before {
    content: '';
    background-image: url(./img/shopping_bags_trans_2.png);
    background-position: 50% 40%;
    background-size: cover;
    width: 32px; 
    height: 32px; 
    margin-right: 10px;
    margin-bottom: 5px;
}




.wrapper-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


.mobile-popup-bg,
.popup-bg {
    height: 0;
    display: block;
    background: #030a12;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-bg {
    height: 100vh;
    background: #030a12c4;
    z-index: 999;
}

.popup {
    top: 20vh; 
    position: fixed;
    width: min(600px, 70%);
    margin-inline: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
    background-color: var(--primary-cards-bg);
    color: var(--primary-color);
    border-radius: 16px;
    text-align: center;
    padding-inline: 24px;
    border: var(--primary-border);
}

.popup p:last-child {
    font-size: 12px;
}

@media (max-width: 1660px) {
    .card {
        width: clamp(320px, 100%, 1000px);
        height: 80px;
        margin-left: 64px;
    }

    input:checked + label {
        height: 650px;
        width: clamp(320px, 100%, 1000px);
    }
    .card > .row {
        flex-direction: column;
        width: 100%;  
    }
    .card > .row > .row-coloum {
        height: 80px;
        width: 100%;
        padding-inline: 30px;
        flex-direction: row-reverse;
        justify-content: space-between;
    } 
    .row-coloum h4 {
        height: 80px;
        writing-mode: horizontal-tb; 
        text-orientation: mixed;
        padding: 30px 0 0 0px;
        letter-spacing: 6px;
    }
    .card > .row > .row-coloum > .icon {
        margin: 0;
    }
    .card > .row > .description {
        width: 100%;
        justify-content: space-between;
        padding: 30px;
        overflow: auto;
    }
    .description img {
        height: 350px;
        width: clamp(200px, 100%, 940px);
        object-position: 50% 65%;
        margin-bottom: 0;
    }
    #card2 img {
        object-position: 50% 60%;
    }
    #card3 img {
        object-position: 50% 45%;
    }
    #card4 img {
        object-position: 50% 55%;
    }
    #card5 img {
        object-position: 50% 52%;
    }
    .description-flexrow-center {
        margin-right: 16px;
    }
    .description-flexrow-center p {
        text-wrap: balance;
    }
    .shopping-card-container {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media (max-width: 1140px) {
    .description-flexrow {
        margin-top: 16px;
    }
    input:checked + label {
        height: 710px;
    }
    .aot {
        background-position: 50% 15%;
    }
}

@media (max-width: 1110px) {
    .row-coloum h4 {
        letter-spacing: 6px;
    }
}


@media (max-width: 1004px) {
    .shopping-card-container {
        display: none;
        position: fixed;
        top: 0;
        margin: 32px;
        width: clamp(310px, calc(100% - 64px), 900px);
        z-index: 400;
        transition: height 0.5s ease;
    }
    
    .mobile-popup-bg {
        height: 100%;
    }

    .shopping-card-flex {
        width: 30%;
    }
    .pay-info-mobile {
        display: flex;
    }

    .grid main {
        width: 100%;
    }
    .card {
        margin-right: 64px;
    }
    .aot {
        background-position: 70% 90%;
    }
    input:checked + label {
        height: 660px;
    }
}

@media (max-width: 860px) {
    .aot {
        background-position: 65% 100%;
        height: 50vh;
    }
    .filter-container {
        top: 61.6vh;
    }
}

@media (max-width: 784px) {
    input:checked + label {
        height: 690px;
    }
}

@media (max-width: 714px) {
    .card {
        margin-inline: 16px;
    }
    .description p {
        font-size: 16px;
    }
    input:checked + label {
        height: 640px;
    }
    .add {
    font-size: 16px;
    width: 40px;
    height: 40px;
    }
    .row-coloum h4 {
        letter-spacing: 2px;
    }
    .card > .row > .row-coloum > .icon {
        width: 40px;
        height: 40px;
    }
    .card > .row > .description {
        padding: 16px;
    }
}

@media (max-width: 650px) {
    .aot {
        background-position: 55% 100%;
        height: 40vh;
    }
    .filter-container {
        top: 51.6vh;
    }
    .shopping-card-flex {
        width: 100%;
    }
}

@media (max-width: 480px) {
    input:checked + label {
        height: 660px;
    }
}

@media (max-width: 480px) {
    .row-coloum h4 {
        font-size: 12px;
    }
    .aot {
        height: 30vh;
        background-position: 50% 100%;
    }
    .filter-container {
        top: 41.6vh;
    }
}

@media (max-width: 413px) {
    .row-coloum h4 {
        text-align: center;
        letter-spacing: 0px;
    }
    .aot {
        background-position: 65% 100%;
    }
}

@media (max-width: 382px) {
    .shopping-card-container {
        margin: 32px 12px;
        width: clamp(300px, calc(100% - 24px), 900px)
    }

    .shopping-card {
        margin-block: 16px;
        padding: 0;
        padding: 16px 0 16px 0;
    }
    .shopping-card h1 {
        font-size: 32px;        
    }
 
    .shopping-card-flex {
        font-size: 12px; 
        padding: 8px;
    }
    .delivery-case-flex {
        padding-inline: 8px;
    }
}


/* -----------media for heigth ------------*/
@media (max-width: 348px) {
    #card5 h4 {
        padding-top: 24px; 
    }
}

@media (max-height: 580px) {
    .shopping-card-container {
        height: 75vh;
        
    }
}

@media (max-height: 500px) {
    .shopping-card-container {
        height: 70vh;
        
    }
}

@media (max-height: 400px) {
    .shopping-card-container {
        height: 65vh;
        
    }
}

@media (max-height: 300px) {
    .shopping-card-container {
        height: 60vh;
        
    }
}

/* -----------media for nav ------------*/
@media(max-width: 1140px) {
    nav ul,
    nav .about-us-container {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .droppdown {
        display: block;
    }
}

@media(max-width: 600px) {
    .droppdown {
        left: 10px;
        width: unset;
    }
}

@media(max-width: 473px) {
    nav img {
        height: 80px;
    }
    .burger-menu {
        width: 70px;
        height: 70px;

    }
}

@media(max-width: 330px) {
    nav img {
        height: 77px;
    }
    .burger-menu {
        width: 65px;
        height: 65px;
    }
}

.d-none {
    display: none;
}